@import "./Variables.scss";

.forecast-details {
    font-family: $main-font;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: $white;
    width: 65vw;
    height: 95vh;
    margin: 20px 20px 0 40px;
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: $secondary-color;

    .dateNtime {
        display: flex;
        justify-content: end;
        padding: 20px;
        align-items: center;

        .date {
            font-size: 20px;
            border-right: 2px solid $border-color;
            padding-right: 7px;
        }

        .specific-time {
            padding-left: 5px;
            font-size: 20px;
        }
    }

    .condition-weather {
        display: flex;
        font-size: 5em;
        justify-content: right;
        align-items: end;
        height: 40vh;
        padding-right: 5.5rem;
        font-family: $main-font;
        font-weight: bold;
        // background-image: url('../assets/iconWeather/01d@2x.png');
    }

    .tempurature {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        width: 80%;
        font-size: 1.5rem;
        margin: 2rem auto;
        padding: 2rem;
        border-radius: 12px;
        background-color: $blur;

        .bold {
            font-weight: bold;
            font-size: 1.5rem;
        }
    }

    .city-world {
        height: 22vh;

        .city-container {
            height: 50%;
            width: 80%;
            margin: auto;
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            align-items: center;

            .city-list {
                font-weight: 600;
                font-size: large;
                height: 20%;
                width: 5rem;
                padding: 10px;
                border-radius: 10px;
                cursor: pointer;
                transition: transform 0.4s ease;

            }

            .city-list.active {
                background-color: $blur;
                transform: translateY(-6px);

            }
        }
    }
}

@media only screen and (max-width: #{$mobile-width + 1px}) {
    .forecast-details {
        position: absolute;
        width: 95%;
        height: 95vh;
        margin: 10px 10px 10px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .dateNtime {
            position: absolute;
            top: 8rem;
            right: -80vw;
            z-index: 1;
            padding: 0;
            width: 100vw;
        }

        .tempurature {
            position: absolute;
            width: 60vw !important;
            left: 40px;
            z-index: 1;
            padding: 2rem !important;
            margin-bottom: 85px;
            flex-direction: column;
            align-items: flex-start;
            top: 22rem;
            gap: 1rem;
            font-size: 1.2rem !important;

        }

        .condition-weather,
        .city-world {
            display: none !important;
        }
    }

}

@media only screen and (max-width: #{$ipad-pro-width + 1px}) and (min-width: #{$mobile-width + 1px}) {
    .forecast-details {
        width: 37vh;

        .condition-weather {
            height: 25vh;
            font-size: 3em;
        }

        .tempurature {
            flex-direction: column;
            // justify-content: left;
            text-align: inherit;
            padding: 2rem;
            width: max-content;

            .high-tempurature {
                padding-bottom: 10px;
            }

            .low-tempurature {
                padding-bottom: 10px;
            }

            .humidity {
                padding-bottom: 10px;
            }

        }

        .city-list {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}