@import './Variables.scss';

.detailee {
    // background-color: $secondary-color;
    height: 95vh;
    color: $white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 20px 40px 0 20px;
    border-radius: 10px;
    background-color: $main-color;

    .location-input-container {
        padding: 2rem 4rem;
        height: 4rem;
        position: relative;
        font-family: $main-font;
        display: flex;
        justify-content: center;
        align-items: center;

        .input-prefix-icon {
            position: absolute;
            left: 90px;
            bottom: 45px;
            font-size: 1.5rem;
        }

        .input-field {
            margin: 0.8rem 0 0 1rem;
            height: 2.4rem;
            padding-left: 2.4rem;
            font-size: 1.4rem;
            padding-bottom: 2px;
            width: 80%;
            align-items: center;
            border-radius: 0.5em;
            border: 1px solid $border-color;
            background-color: $blur;
            color: $white;
        }
    }

    //======== main tempurature ===========
    .main-temp {
        display: block;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 18vh;
        margin: 0 10rem;
        color: $white;
        border-radius: 8px;
        padding: 20px 20px;

        .main-temp-display {
            font-family: $main-font;
            color: $white;
            font-weight: 800;
        }

        .under-citydes {

            font-family: $main-font;
            color: $white;
            font-weight: 'bold';

            .city {
                font-size: 1.5rem;
                gap: 10px;
                font-weight: bold;
            }

            .description {
                font-size: 1rem;
            }
        }

    }

    //======== change degree =======
    .deg-changing {
        display: flex;
        font-size: 1rem;
        justify-content: end;
        margin-top: 0.3rem;
        margin-left: 1rem;

        .metric {
            padding: 10px 10px;
            margin-right: 5px;
            height: 1rem;
            width: 1rem;
            text-align: center;
        }

        .imperial {
            padding: 10px 10px;
            width: 1rem;
            height: 1rem;
            text-align: center;
        }

        .active {
            border: none;
            background-color: $blur;
            border-radius: 4px;
        }
    }

    //===================
    .five-day-forecast {
        display: block;
        justify-content: center;
        // align-items: center;
        // background-color: ;
        height: 49vh;

        .title-forecast {
            text-align: center;
            font-family: $main-font;
            background-color: $blur;
            color: $white;
            width: fit-content;
            margin: auto;
            padding: 5px 5px;
            border-radius: 10px;
        }

        .weather-card-container {

            height: 4rem;
            width: 80%;
            margin: 1rem auto 0 auto;
            border-radius: 10px;
            display: flex;
            transition: transform 0.4s ease;
        }

        .weather-card-container.active {
            color: $main-color;
            background-color: #e0e1dd;
            transform: translateX(-10px);
        }

        .infor {
            width: 50%;
            display: block;
            // margin: auto;
            padding-left: 10px;
            font-weight: 600;

            .date-new {
                padding-top: 10px;
                font-size: 20px;
            }

            .des {
                padding-top: 5px;

                font-size: 15px;
            }
        }

        .date-next-temp {
            display: grid;
            grid-template-columns: auto;
            width: 8rem;
            justify-content: end;
            align-items: center;
            font-weight: 600;
            font-size: 18px;
            border-left: 2px solid $blur ;
        }
    }

    //===================

}