@import url('https://fonts.cdnfonts.com/css/arquitecta');

// color 

$main-color: #162668;
$secondary-color: #505C8E;
$black: #000000;
$white: #FFFFFF;
$blur: rgba(255, 255, 255, 0.2);
$border-color: #BCBFBA;
// font
$main-font: 'Arquitecta', 'Roboto' sans-serif;

$mobile-width: 412px;
$pc-width: 1920px;
$ipad-pro-width: 1024px