// color 

$main-color: #2DE5FA;
$secondary-color: #AEECF1;
$black: #000000;
$white: #FFFFFF;
$blur: rgba(255, 255, 255, 0.2);
$border-color: #BCBFBA;
// font
$main-font: 'Outfit', 'Roboto' sans-serif;